<div class="main-wrapper">
  <section class="parall-section">
      <div class="parall-background">
        <h5>소프트웨어 소비자에서 개발자로<br>나아가기 위한 사람들을 위한 모임입니다.</h5>  
      </div>

      <div class="parall-image" parallax-background parallax-ratio="0.2"></div>
  </section>

  <section class="section-intro" style="">
    <div class="container">

        <div class="row">
          <div class="col s12 m4">
            <div class="icon-block">
              <h2 class="center brown-text"><i class="material-icons">flash_on</i></h2>
              <h5 class="center">재빠르게</h5>

              <p>세상을 업그레이드하는 오픈소스 소프트웨어를 만들어 나가며, 그 과정을 통해 소프트웨어 개발 및 학습을 재빠르게(재미있게 빠르게 바르게) 진행합니다.</p>
            </div>
          </div>

          <div class="col s12 m4">
            <div class="icon-block">
              <h2 class="center brown-text"><i class="material-icons">group</i></h2>
              <h5 class="center">만남</h5>

              <p>코딩 및 소프트웨어 개발에 관심 있는 전공자뿐만 아니라 비전공자, 현업에 종사하고 있는 실무자분들까지. 서로 다른 사람들이 만나 이야기를 나누고 서로의 지식과 경험을 나눌 수 있습니다.</p>
            </div>
          </div>

          <div class="col s12 m4">
            <div class="icon-block">
              <h2 class="center brown-text"><i class="material-icons">settings</i></h2>
              <h5 class="center">학습 그리고 공유</h5>

              <p>개인의 성장은 나눔으로부터 시작됩니다. 자신의 지식이나 경험 또는 생각을 발표를 통해 나누고 사람들과 대화하며 더 멋진 개발자가 되는 과정을 함께 할 수 있습니다.</p>
            </div>
          </div>
        </div>
    </div>
  </section>


  <section class="parall-section">
    <div class="parall-background">
      <h5>코딩카페는 행복한 소프트웨어 개발자가<br />되기 위한 첫 발걸음입니다.</h5>  
    </div>

      <div class="parall-image" parallax-background parallax-ratio="0.2"></div>
  </section>

  <section class="section-member">
    <div class="container">
      <h3 class="center">Members</h3>
      <div class="row">
        <div class="col s12 m4 member-img-wrapper">
          <div class="center">
            <img src="//graph.facebook.com/100001606028952/picture/?type=large">
            <h5 class="center">김태우</h5>

            <p>I found Easter Egg !</p>
          </div>
        </div>

        <div class="col s12 m4 member-img-wrapper">
          <div class="center">
            <img src="//graph.facebook.com/100001897181786/picture/?type=large" height="200px"  width="200px">
            <h5 class="center">박병훈</h5>

            <p>Android / Ruby on Rails</p>
          </div>
        </div>

        <div class="col s12 m4 member-img-wrapper">
          <div class="center">
            <img src="//graph.facebook.com/100002097717818/picture/?type=large" height="200px"  width="200px">
            <h5 class="center">오원재</h5>

            <p>Android / Illustrator</p>
          </div>
        </div>
      </div>

      <div class="row" style="margin-top: 30px">
        <div class="col s12 m4 member-img-wrapper">
          <div class="center">
            <img src="//graph.facebook.com/100003258104375/picture/?type=large">
            <h5 class="center">이종찬</h5>

            <p>Android / Ruby on Rails</p>
          </div>
        </div>

        <div class="col s12 m4 member-img-wrapper">
          <div class="center">
            <img src="//graph.facebook.com/100001926868790/picture/?type=large">
            <h5 class="center">최성식</h5>

            <p>Android / AR</p>
          </div>
        </div>

        <div class="col s12 m4 member-img-wrapper">
          <div class="center">
            <img src="//graph.facebook.com/735618008/picture/?type=large" height="200px"  width="200px">
            <h5 class="center">박재홍</h5>

            <p>Python / TensorFlow</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="parall-section">
    <div class="parall-background">
      <h5>간단하고 재미있는 목표를 설정하여<br />소프트웨어 개발을 함께 할 수 있습니다.</h5>  
    </div>

      <div class="parall-image" parallax-background parallax-ratio="0.2"></div>
  </section>

  <section class="section-lookaround">
    <div class="container">

      <div class="row center">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">free_breakfast</i></h2>
            <h5 class="center">둘러보세요</h5>
            <br/>
            <a href="https://www.facebook.com/groups/codin9cafe/" target="_blank" class="waves-effect waves-light btn-large"><i class="material-icons left">group</i>페이스북 그룹</a>
            <a href="https://docs.google.com/spreadsheets/d/1AAe3L4cjTKZyrWyfatE9Ov_ptYHoGrjTWKNnP91QB6s/edit?usp=sharing" target="_blank" class="waves-effect waves-light btn-large"><i class="material-icons left">grid_on</i>세미나 시간표</a>
          </div>
        </div>
    </div>
  </section>
</div>